# VSCode
.vscode

# Genus
genus.log*
genus.cmd*
.*.tstamp
syn/fv/*
syn/outputs/*
syn/reports/*
sim/outputs/*
sim/xcelium.d/*
xrun.history
xrun.key
xrun.log

# Vivado
FIREngine.cache
FIREngine.hw
FIREngine.xpr
FIREngine.ip_user_files
FIREngine.runs
FIREngine.srcs